name: Upload Python Package

on:
  release:
    types: [published]
  workflow_dispatch:
    inputs:
      target:
        description: "Publish target"
        required: true
        default: "testpypi"
        type: choice
        options:
          - testpypi

permissions:
  contents: write

jobs:
  release-build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      - name: Build release distributions
        run: |
          python -m pip install build
          python -m build

      - name: Upload distributions
        uses: actions/upload-artifact@v4
        with:
          name: release-dists
          path: dist/

      - name: Upload release artifacts to GitHub Release
        if: github.event_name == 'release'
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          gh release upload "${{ github.event.release.tag_name }}" dist/* --clobber

  testpypi-publish:
    runs-on: ubuntu-latest
    if: github.event_name == 'workflow_dispatch'
    needs:
      - release-build
    permissions:
      id-token: write

    environment:
      name: testpypi
      url: https://test.pypi.org/p/pyhosts

    steps:
      - name: Retrieve release distributions
        uses: actions/download-artifact@v4
        with:
          name: release-dists
          path: dist/

      - name: Publish to TestPyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          repository-url: https://test.pypi.org/legacy/
          packages-dir: dist/

  pypi-publish:
    runs-on: ubuntu-latest
    if: github.event_name == 'release'
    needs:
      - release-build
    permissions:
      id-token: write

    environment:
      name: pypi
      url: https://pypi.org/p/pyhosts/${{ github.event.release.name }}

    steps:
      - name: Retrieve release distributions
        uses: actions/download-artifact@v4
        with:
          name: release-dists
          path: dist/

      - name: Publish release distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          packages-dir: dist/
